Repository hjbugajski/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: fix lint errors and run prettier
  next.config.js
  src/app/globals.css
  src/app/head.tsx
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/pages/api/hello.ts
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

feat: create portfolio
  .gitignore
  package-lock.json
  package.json
  public/favicon.ico
  public/next.svg
  public/thirteen.svg
  public/vercel.svg
  src/app/globals.css
  src/app/head.tsx
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
  src/components/Blocks/CardSectionBlock.module.css
  src/components/Blocks/CardSectionBlock.tsx
  src/components/Blocks/ContentBlock.tsx
  src/components/Blocks/index.tsx
  src/components/Card.module.css
  src/components/Card.tsx
  src/components/ExternalLinksMenu.module.css
  src/components/ExternalLinksMenu.tsx
  src/components/Meta.tsx
  src/components/PayloadLink.tsx
  src/components/Serialize.tsx
  src/components/Toolbar.module.css
  src/components/Toolbar.tsx
  src/graphql/blocks.ts
  src/graphql/globals.ts
  src/graphql/index.ts
  src/graphql/link.ts
  src/graphql/pages.ts
  src/icons/IconExternalLink.tsx
  src/icons/index.ts
  src/interfaces/index.ts
  src/interfaces/payload-types.ts
  src/pages/api/hello.ts
  src/styles/globals.css
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: add .vscode
  .vscode/settings.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix(PayloadLink): update target
  src/components/PayloadLink.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add Vercel analytics
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/VercelAnalytics.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: return correct static params, update fetchPage
  src/app/page.tsx
  src/graphql/index.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: remove head file in favor of generateMetadata
  src/app/head.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Meta.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: relocate favicon
  src/app/favicon.ico
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update stylelint, fix lint errors
  .stylelintrc.json
  package-lock.json
  package.json
  src/app/page.module.css
  src/components/Blocks/CardSectionBlock.module.css
  src/components/Card.module.css
  src/components/ExternalLinksMenu.module.css
  src/components/Toolbar.module.css
  src/styles/globals.css
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

refactor: remove deprectaed next config/packages
  next.config.js
  package-lock.json
  package.json
  src/app/layout.tsx
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

fix: update markup and styles
  src/components/Card.module.css
  src/components/Card.tsx
  src/components/ExternalLinksMenu.module.css
  src/components/ExternalLinksMenu.tsx
  src/components/PayloadLink.tsx
  src/components/Toolbar.module.css
  src/components/Toolbar.tsx
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: delete old files
  src/app/favicon.ico
  src/app/page.module.css
  src/app/page.tsx
  src/components/Blocks/CardSectionBlock.module.css
  src/components/Blocks/CardSectionBlock.tsx
  src/components/Blocks/ContentBlock.tsx
  src/components/Blocks/index.tsx
  src/components/Card.module.css
  src/components/Card.tsx
  src/components/ExternalLinksMenu.module.css
  src/components/ExternalLinksMenu.tsx
  src/components/PayloadLink.tsx
  src/components/Serialize.tsx
  src/components/Toolbar.module.css
  src/components/Toolbar.tsx
  src/components/VercelAnalytics.tsx
  src/graphql/blocks.ts
  src/graphql/globals.ts
  src/graphql/index.ts
  src/graphql/link.ts
  src/graphql/pages.ts
  src/icons/IconExternalLink.tsx
  src/icons/index.ts
  src/interfaces/index.ts
  src/interfaces/payload-types.ts
  src/styles/globals.css
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

feat: new portfolio
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  package-lock.json
  package.json
  postcss.config.js
  public/favicon.ico
  src/app/[[...slug]]/page.client.tsx
  src/app/[[...slug]]/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/not-found.tsx
  src/components/blocks/index.tsx
  src/components/blocks/item-duration.client.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/navigation.tsx
  src/components/serialize.tsx
  src/lib/api/index.ts
  src/lib/components/badge.tsx
  src/lib/components/payload-link.tsx
  src/lib/icons/arrow-up-right-small.tsx
  src/lib/icons/briefcase.tsx
  src/lib/icons/clock.tsx
  src/lib/icons/code.tsx
  src/lib/icons/globe.tsx
  src/lib/icons/index.tsx
  src/lib/icons/servers.tsx
  src/lib/types/payload.ts
  src/lib/utils/cn.ts
  src/lib/utils/duration.ts
  src/lib/utils/link.ts
  src/lib/utils/slugify.ts
  tailwind.config.ts
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

fix: correctly display mos
  src/lib/utils/duration.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

refactor: remoave payload live preview
  src/app/[[...slug]]/page.client.tsx
  src/app/[[...slug]]/page.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: rename to bugajski.io
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fixup! feat: integrate payload 3.0
  next.config.mjs
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies (#9)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

refactor: remove unnecessary imports
  src/payload/components/row-label/get-row-label.tsx
  src/payload/components/row-label/index.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies (#10)
  package-lock.json
  package.json
  src/payload/components/row-label/get-row-label.tsx
  src/payload/components/row-label/index.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update imports
  src/payload/access/index.ts
  src/payload/blocks/item.ts
  src/payload/blocks/section.ts
  src/payload/collections/pages.ts
  src/payload/collections/users.ts
  src/payload/components/row-label/index.tsx
  src/payload/fields/link.ts
  src/payload/globals/navigation.ts
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies (#11)
  package-lock.json
  package.json
  src/payload/access/index.ts
  src/payload/blocks/item.ts
  src/payload/blocks/section.ts
  src/payload/collections/pages.ts
  src/payload/collections/users.ts
  src/payload/components/row-label/index.tsx
  src/payload/fields/link.ts
  src/payload/globals/navigation.ts
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies, switch to pnpm
  package-lock.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

fix: update tailwind content config
  tailwind.config.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: update imports
  src/payload/components/row-label/index.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add email adapter
  package.json
  pnpm-lock.yaml
  src/env/server.ts
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add email adapter (#12)
  package-lock.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/env/server.ts
  src/payload/components/row-label/index.tsx
  src/payload/payload.config.ts
  tailwind.config.ts
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update types
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: supress incorrect eslint eror
  src/app/(site)/layout.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

Path conditions:
  eslint --ignore-path .gitignore: any of: **/*.{js, ts, tsx}
  stylelint --ignore-path .gitignore: any of: **/*.css
  prettier --write --ignore-unknown --ignore-path .gitignore: any of: *
