Repository hjbugajski/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

.lintstagedrc.json:

{
  "**/*.{js, ts, tsx}": "eslint --ignore-path .gitignore",
  "**/*.css": "stylelint --ignore-path .gitignore",
  "*": "prettier --write --ignore-unknown --ignore-path .gitignore"
}

fix: item block (#24)
  src/components/blocks/item.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

docs: update README
  README.md
Due: prettier --write --ignore-unknown --ignore-path .gitignore

docs: update README (#25)
  README.md
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: new font and color palette
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/app/(site)/not-found.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/navigation.tsx
  src/components/serialize.tsx
  src/lib/components/badge.tsx
  src/lib/components/payload-link.tsx
  src/lib/icons/arrow-right.tsx
  src/lib/icons/index.tsx
  src/payload/blocks/item.ts
  src/payload/payload-types.ts
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

refactor: add rich text component, fix small issues
  src/app/(site)/[[...slug]]/page.tsx
  src/components/blocks/index.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/rich-text/block-quote-converter.tsx
  src/components/rich-text/heading-converter.tsx
  src/components/rich-text/horizontal-rule-converter.tsx
  src/components/rich-text/index.tsx
  src/components/rich-text/link-converter.tsx
  src/components/rich-text/list-converter.tsx
  src/components/rich-text/listitem-converter.tsx
  src/components/rich-text/paragraph-converter.tsx
  src/components/rich-text/text-converter.tsx
  src/components/serialize.tsx
  src/lib/utils/duration.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: style updates and component refactor (#27)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/app/(site)/not-found.tsx
  src/components/blocks/index.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/navigation.tsx
  src/components/rich-text/block-quote-converter.tsx
  src/components/rich-text/heading-converter.tsx
  src/components/rich-text/horizontal-rule-converter.tsx
  src/components/rich-text/index.tsx
  src/components/rich-text/link-converter.tsx
  src/components/rich-text/list-converter.tsx
  src/components/rich-text/listitem-converter.tsx
  src/components/rich-text/paragraph-converter.tsx
  src/components/rich-text/text-converter.tsx
  src/components/serialize.tsx
  src/lib/components/badge.tsx
  src/lib/components/payload-link.tsx
  src/lib/icons/arrow-right.tsx
  src/lib/icons/index.tsx
  src/lib/utils/duration.ts
  src/payload/blocks/item.ts
  src/payload/payload-types.ts
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: add CODEOWNERS
  .github/CODEOWNERS
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: add CODEOWNERS (#30)
  .github/CODEOWNERS
Due: prettier --write --ignore-unknown --ignore-path .gitignore

docs: update README (#31)
  README.md
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/components/rich-text/index.tsx
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: remove git branch mappings
  .infisical.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies (#33)
  .github/workflows/ci.yml
  .infisical.json
  package.json
  pnpm-lock.yaml
  src/components/rich-text/index.tsx
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update permissions
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: fix lint error
  src/app/(site)/globals.css
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: relocate ui components
  src/components/blocks/item.tsx
  src/components/navigation.tsx
  src/components/ui/badge.tsx
  src/components/ui/payload-link.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: relocate icons
  src/app/(site)/not-found.tsx
  src/components/blocks/item.tsx
  src/components/rich-text/link-converter.tsx
  src/components/ui/payload-link.tsx
  src/icons/arrow-right.tsx
  src/icons/arrow-up-right-small.tsx
  src/icons/briefcase.tsx
  src/icons/clock.tsx
  src/icons/code.tsx
  src/icons/globe.tsx
  src/icons/index.tsx
  src/icons/servers.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: relocate utils
  src/app/(site)/layout.tsx
  src/components/blocks/item-duration.client.tsx
  src/components/blocks/item.tsx
  src/components/rich-text/heading-converter.tsx
  src/components/rich-text/horizontal-rule-converter.tsx
  src/components/rich-text/index.tsx
  src/components/rich-text/link-converter.tsx
  src/components/rich-text/list-converter.tsx
  src/components/rich-text/paragraph-converter.tsx
  src/components/ui/badge.tsx
  src/components/ui/payload-link.tsx
  src/payload/collections/pages.ts
  src/utils/cn.ts
  src/utils/duration.ts
  src/utils/link.ts
  src/utils/slugify.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: generate importmap
  src/app/(payload)/admin/importMap.js
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies and relocate files (#35)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/importMap.js
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/app/(site)/not-found.tsx
  src/components/blocks/item-duration.client.tsx
  src/components/blocks/item.tsx
  src/components/navigation.tsx
  src/components/rich-text/heading-converter.tsx
  src/components/rich-text/horizontal-rule-converter.tsx
  src/components/rich-text/index.tsx
  src/components/rich-text/link-converter.tsx
  src/components/rich-text/list-converter.tsx
  src/components/rich-text/paragraph-converter.tsx
  src/components/ui/badge.tsx
  src/components/ui/payload-link.tsx
  src/icons/arrow-right.tsx
  src/icons/arrow-up-right-small.tsx
  src/icons/briefcase.tsx
  src/icons/clock.tsx
  src/icons/code.tsx
  src/icons/globe.tsx
  src/icons/index.tsx
  src/icons/servers.tsx
  src/payload/collections/pages.ts
  src/utils/cn.ts
  src/utils/duration.ts
  src/utils/link.ts
  src/utils/slugify.ts
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

feat: update font and colors, remove badges
  prettier.config.mjs
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/app/(site)/not-found.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/navigation.tsx
  src/components/rich-text/horizontal-rule-converter.tsx
  src/components/rich-text/link-converter.tsx
  src/components/ui/badge.tsx
  src/components/ui/payload-link.tsx
  src/icons/arrow-right.tsx
  src/icons/arrow-up-right-small.tsx
  src/icons/briefcase.tsx
  src/icons/clock.tsx
  src/icons/code.tsx
  src/icons/globe.tsx
  src/icons/servers.tsx
  src/payload/blocks/item.ts
  src/payload/payload-types.ts
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: update font and colors, remove badges (#36)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.mjs
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/app/(site)/not-found.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/navigation.tsx
  src/components/rich-text/horizontal-rule-converter.tsx
  src/components/rich-text/link-converter.tsx
  src/components/ui/badge.tsx
  src/components/ui/payload-link.tsx
  src/icons/arrow-right.tsx
  src/icons/arrow-up-right-small.tsx
  src/icons/briefcase.tsx
  src/icons/clock.tsx
  src/icons/code.tsx
  src/icons/globe.tsx
  src/icons/servers.tsx
  src/payload/blocks/item.ts
  src/payload/payload-types.ts
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies and README (#37)
  .github/workflows/ci.yml
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  .tool-versions
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/payload/migrations/20250827_153358.json
  src/payload/migrations/20250827_153358.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

docs: add CLAUDE.md
  CLAUDE.md
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add health api
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: downgrade next deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: add health api (#42)
  .tool-versions
  CLAUDE.md
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/payload/migrations/20250827_153358.json
  src/payload/migrations/20250827_153358.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies (#44)
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies - pnpm 10.17.1, @payloadcms/* 3.57.0, and other deps
  package.json
  pnpm-lock.yaml
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies (#45)
  package.json
  pnpm-lock.yaml
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies (#46)
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore
