Repository hjbugajski/site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: remove pre-commit hooks
  .commitlintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

ci: add ci lint workflow
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies and dev tools (#13)
  .commitlintrc.json
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  package.json
  pnpm-lock.yaml
  src/app/(site)/layout.tsx
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update types
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies (#14)
  package.json
  pnpm-lock.yaml
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: add infisical in place of .env files
  .infisical.json
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: configure preview deployment server url
  src/env/server.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fixup! chore: update dependencies
  .github/workflows/ci.yml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: configure preview deployment server url, add infisical config (#15)
  .github/workflows/ci.yml
  .infisical.json
  package.json
  pnpm-lock.yaml
  src/env/server.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: revalidate document changes
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/layout.tsx
  src/components/navigation.tsx
  src/payload/collections/pages.ts
  src/payload/globals/navigation.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies, fix payload breaking changes
  .eslintignore
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/[[...segments]]/not-found.tsx
  src/app/(payload)/admin/[[...segments]]/page.tsx
  src/app/(payload)/admin/importMap.js
  src/app/(payload)/layout.tsx
  src/payload/blocks/item.ts
  src/payload/components/row-label.tsx
  src/payload/components/row-label/get-row-label.tsx
  src/payload/fields/link.ts
  src/payload/payload-types.ts
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/importMap.js
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: add lint:all script
  package.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: remove console.log
  src/app/(site)/[[...slug]]/page.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: revalidate document changes (#16)
  .eslintignore
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/app/(payload)/admin/[[...segments]]/not-found.tsx
  src/app/(payload)/admin/[[...segments]]/page.tsx
  src/app/(payload)/admin/importMap.js
  src/app/(payload)/layout.tsx
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/layout.tsx
  src/components/navigation.tsx
  src/payload/blocks/item.ts
  src/payload/collections/pages.ts
  src/payload/components/row-label.tsx
  src/payload/components/row-label/get-row-label.tsx
  src/payload/fields/link.ts
  src/payload/globals/navigation.ts
  src/payload/payload-types.ts
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies (#17)
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path .gitignore

fix: post upgrade fixes
  src/app/(payload)/admin/[[...segments]]/not-found.tsx
  src/app/(payload)/admin/[[...segments]]/page.tsx
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/layout.tsx
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  tsconfig.json
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: remove vercel speed insights
  package.json
  pnpm-lock.yaml
  src/app/(site)/layout.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

update dependencies, fix small issues, switch to postgres
  .eslintignore
  .infisical.json
  package.json
  pnpm-lock.yaml
  scripts/migrate.sh
  src/app/(payload)/admin/importMap.js
  src/app/(site)/layout.tsx
  src/components/blocks/item.tsx
  src/env/server.ts
  src/payload/globals/navigation.ts
  src/payload/migrations/.gitkeep
  src/payload/migrations/20241105_201538.json
  src/payload/migrations/20241105_201538.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

upgrade to eslint 9 and flat config, fix lint errors
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/(payload)/layout.tsx
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/layout.tsx
  src/components/blocks/index.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/navigation.tsx
  src/components/serialize.tsx
  src/lib/components/badge.tsx
  src/lib/components/payload-link.tsx
  src/lib/icons/arrow-up-right-small.tsx
  src/lib/icons/briefcase.tsx
  src/lib/icons/clock.tsx
  src/lib/icons/code.tsx
  src/lib/icons/globe.tsx
  src/lib/icons/index.tsx
  src/lib/icons/servers.tsx
  src/lib/utils/cn.ts
  src/lib/utils/link.ts
  src/lib/utils/slugify.ts
  src/payload/access/index.ts
  src/payload/blocks/item.ts
  src/payload/blocks/section.ts
  src/payload/collections/pages.ts
  src/payload/collections/users.ts
  src/payload/components/row-label.tsx
  src/payload/fields/link.ts
  src/payload/globals/navigation.ts
  src/payload/migrations/20241105_201538.json
  src/payload/migrations/20241105_201538.ts
  src/payload/migrations/index.ts
  src/payload/utils/deep-merge.ts
  tailwind.config.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: use geist font from next/fonts/google
  package.json
  pnpm-lock.yaml
  src/app/(site)/layout.tsx
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: remove migrations
  src/payload/migrations/20241105_201538.json
  src/payload/migrations/20241105_201538.ts
  src/payload/migrations/index.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: use geist font from next/fonts/google (#20)
  package.json
  pnpm-lock.yaml
  src/app/(site)/layout.tsx
  src/payload/migrations/20241105_201538.json
  src/payload/migrations/20241105_201538.ts
  src/payload/migrations/index.ts
  src/payload/payload-types.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

chore: update dependencies and scripts
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  scripts/migrate.sh
  src/app/(payload)/admin/importMap.js
  src/app/(payload)/api/[...slug]/route.ts
  src/app/(payload)/api/graphql-playground/route.ts
  src/app/(payload)/api/graphql/route.ts
  src/app/(payload)/layout.tsx
  src/payload/payload-types.ts
Due: eslint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

add live preview, update interfaces
  package.json
  pnpm-lock.yaml
  src/app/(site)/[[...slug]]/page.tsx
  src/app/(site)/layout.tsx
  src/app/(site)/next/exit-preview/GET.ts
  src/app/(site)/next/exit-preview/route.ts
  src/app/(site)/next/preview/route.ts
  src/components/blocks/index.tsx
  src/components/blocks/item-duration.client.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/live-preview-listener.tsx
  src/components/navigation.tsx
  src/components/serialize.tsx
  src/lib/components/payload-link.tsx
  src/lib/utils/link.ts
  src/payload/access/index.ts
  src/payload/blocks/item.ts
  src/payload/blocks/section.ts
  src/payload/collections/pages.ts
  src/payload/collections/users.ts
  src/payload/fields/link.ts
  src/payload/globals/navigation.ts
  src/payload/payload-types.ts
  src/payload/payload.config.ts
  src/payload/utils/generate-preview-path.ts
  src/payload/utils/get-client-side-url.ts
  src/payload/utils/get-server-side-url.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

remove forwardRef usage
  src/lib/components/badge.tsx
  src/lib/icons/arrow-up-right-small.tsx
  src/lib/icons/briefcase.tsx
  src/lib/icons/clock.tsx
  src/lib/icons/code.tsx
  src/lib/icons/globe.tsx
  src/lib/icons/index.tsx
  src/lib/icons/servers.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

create migrations
  src/payload/migrations/20241226_154624.json
  src/payload/migrations/20241226_154624.ts
  src/payload/migrations/index.ts
Due: prettier --write --ignore-unknown --ignore-path .gitignore

prettier igore migrations
  .prettierignore
Due: prettier --write --ignore-unknown --ignore-path .gitignore

upgrade to tailwind v4 beta
  .prettierrc.json
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  postcss.config.mjs
  prettier.config.mjs
  src/app/(site)/globals.css
  src/app/(site)/not-found.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/navigation.tsx
  src/components/serialize.tsx
  stylelint.config.mjs
  tailwind.config.ts
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

update theme, font, and icons
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/app/(site)/not-found.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/navigation.tsx
  src/components/serialize.tsx
  src/lib/components/badge.tsx
  src/lib/components/payload-link.tsx
  src/lib/icons/arrow-up-right-small.tsx
  src/lib/icons/briefcase.tsx
  src/lib/icons/clock.tsx
  src/lib/icons/code.tsx
  src/lib/icons/globe.tsx
  src/lib/icons/servers.tsx
Due: stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

update styleint rules
  stylelint.config.mjs
Due: prettier --write --ignore-unknown --ignore-path .gitignore

feat: redesign (#23)
  .prettierrc.json
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  postcss.config.mjs
  prettier.config.mjs
  src/app/(site)/globals.css
  src/app/(site)/layout.tsx
  src/app/(site)/not-found.tsx
  src/components/blocks/item.tsx
  src/components/blocks/section.tsx
  src/components/navigation.tsx
  src/components/serialize.tsx
  src/lib/components/badge.tsx
  src/lib/components/payload-link.tsx
  src/lib/icons/arrow-up-right-small.tsx
  src/lib/icons/briefcase.tsx
  src/lib/icons/clock.tsx
  src/lib/icons/code.tsx
  src/lib/icons/globe.tsx
  src/lib/icons/servers.tsx
  stylelint.config.mjs
  tailwind.config.ts
Due: eslint --ignore-path .gitignore, stylelint --ignore-path .gitignore, prettier --write --ignore-unknown --ignore-path .gitignore

fix: item block
  src/components/blocks/item.tsx
Due: prettier --write --ignore-unknown --ignore-path .gitignore

Path conditions:
  eslint --ignore-path .gitignore: any of: **/*.{js, ts, tsx}
  stylelint --ignore-path .gitignore: any of: **/*.css
  prettier --write --ignore-unknown --ignore-path .gitignore: any of: *
